In [1]:
string1="ola ola ola"
count=0
for i in range(len(string1)):
    if string1[i:i+3]=='ola':
        count+=1
print(count)

3

In [4]:
string1="ola ola ola"
count=0
word=''
for i in string1:
    if i!=' ':
        word+=i   
    if word=='ola':
        count+=1
        word=''
print(count)

3

In [5]:
string1.replace('l','L')

'oLa oLa oLa'

In [6]:
string1="restart"
string1.replace('r','R',1)

'Restart'

In [10]:
count=0
newword=''
for i in string1:
    if i=='r':
        count+=1
    if count<len(string1):
        newword='$'
    else:
        newword+=i
        
print(newword, count)
len(string1)

$ 2

7

In [12]:
string1[0] + string1[1:].replace('r','$')

'resta$t'

In [17]:
string1[::-1].replace('r','$',1)[::-1]

'resta$t'

In [21]:
string1="welcome python"
string1.index('c')

3

In [22]:
string1="hai how are you and"
count=0
for i in string1:
    if i=='a':
        count+=1
print(count)

3

In [23]:
for i in range(len(string1)):
    if string1[i]=='a':
        print(i)
        
print(count)

1
8
16
3

In [25]:
string1.index('a')

1

In [29]:
string1="hai hai hai"
print(string1.index('a'))
print(string1.index('a',5))
print(string1.index('a',6))

1
5
9

In [33]:
for i in string1:
    #print(i)
    if i=='a':
        print(i)
        print(string1.index(i))

a
1
a
1
a
1

In [35]:
string1.find('a',string1.find('a')+1)

5

In [37]:
string1.find('z')

-1

In [38]:
string1.index('z')

ValueError: substring not found

In [39]:
string1.count('z')

0

- capitalize/upper/lower/caseflod

In [46]:
quiz1=round((eval(input("Enter the Quiz 1 mark out of 20: "))*10)/100)
quiz2=round((eval(input("Enter the Quiz 2 mark out of 20: "))*10)/100)
classtest=round((eval(input("Enter the Class test mark out of 50: "))*25)/100)
Assignment=round((eval(input("Enter the Assignment mark out of 100: "))*25)/100)
project=round((eval(input("Enter the Project mark out of 200: "))*30)/100)
overallmark=quiz1+quiz2+classtest+Assignment+project
print(quiz1,quiz2,classtest,Assignment,project,overallmark)

Enter the Quiz 1 mark out of 20: 20
Enter the Quiz 2 mark out of 20: 20
Enter the Class test mark out of 50: 50
Enter the Assignment mark out of 100: 100
Enter the Project mark out of 200: 200
2 2 12 25 60 101

In [82]:
summ=45678


num1=summ%10
num2=summ%100

print(num1,num2)
    
total=0
for i in range(5):
    print(round(summ%10))
    total+=summ%10
    summ=summ/10
    #print(summ)

    
print(round(total))

8 78
8
8
7
6
5
33

In [83]:
fivedigitnumber=87654
num1=fivedigitnumber%10
num2=(fivedigitnumber//10)%10
num3=(fivedigitnumber//100)%10
num4=(fivedigitnumber//1000)%10
num5=(fivedigitnumber//10000)%10
total=num1+num2+num3+num4+num5
total

30

In [84]:
fivedigitnumber=eval(input("Enter the five digit number: "))
num1=(fivedigitnumber%10)+1
num2=((fivedigitnumber//10)%10)+1
num3=((fivedigitnumber//100)%10)+1
num4=((fivedigitnumber//1000)%10)+1
num5=((fivedigitnumber//10000)%10)+1
print(num1,num2,num3,num4,num5)

Enter the five digit number: 12345
6 5 4 3 2

In [86]:
quiz1=round((eval(input("Enter the Quiz 1 mark out of 20: "))*10)/100)
quiz2=round((eval(input("Enter the Quiz 2 mark out of 20: "))*10)/100)
classtest=round((eval(input("Enter the Class test mark out of 50: "))*25)/100)
Assignment=round((eval(input("Enter the Assignment mark out of 100: "))*25)/100)
project=round((eval(input("Enter the Project mark out of 200: "))*30)/100)
overallmark=quiz1+quiz2+classtest+Assignment+project
print(overallmark)

Enter the Quiz 1 mark out of 20:

SyntaxError: invalid syntax (<string>, line 0)

In [90]:
overallmark=87
if overallmark>=60:
    print("The student get overall mark {} and the grade is : First Class".format(overallmark))
elif overallmark>=40:
    print("The student get overall mark {} and the grade is : Second Class".format(overallmark))
elif overallmark<40:
    print("The student get overall mark {} and the grade is : Fail".format(overallmark))

The student get overall mark 87 and the grade is : First Class

In [92]:
try:
    rateperhour=eval(input("Enter the Rate per hour: "))
    empworkedhour=eval(input("Enter the worked hour: "))
    firmpaytoemployee=rateperhour*empworkedhour
    print("The firm should be pay the employee is",firmpaytoemployee)
except Exception as e:
    print("Error:: please enter numeric input.")

Enter the Rate per hour: 67
Enter the worked hour: jj
Error:: please enter numeric input.

In [100]:
try:
    celsius=eval(input("Enter a temperature in celsius:"))
    if celsius<-273.15:
        print("The temperature is invalid because it is below absolute zero")
    elif celsius==-273.15:
        print("The temperature is absolute 0.")
    elif celsius>-273.15 and celsius<0:
        print("The temperature is below freezing.")
    elif celsius==0:
        print("The temperature is at the freezing point.")
    elif celsius>0 and celsius<100:
        print("The temperature is in the normal range.")
    elif celsius==100:
        print("The temperature is at the boiling point. ")
    elif celsius>100:
        print("The temperature is above the boiling point.")
except Exception as e:
    print("Error:: ",e)

Enter a temperature in celsius:0
The temperature is at the freezing point.