In [1]:
d1={'Ram':25,'raheem':30,'Robert':35}
d1

{'Ram': 25, 'raheem': 30, 'Robert': 35}

In [2]:
d2={25:'Ram',30:'raheem',35:'Robert'}
d2

{25: 'Ram', 30: 'raheem', 35: 'Robert'}

In [ ]:
d3={}

In [3]:
d5={'item_list':{'fruits':'apple'}}
d5

{'item_list': {'fruits': 'apple'}}

In [5]:
d6={{'fruits':'apple'}:'item_list'}
d6

TypeError: unhashable type: 'dict'

In [6]:
a=[1,2]
b=(1,2)
print(a,b)

[1, 2] (1, 2)

In [9]:
a,b=[1,2]
c,d=(1,2)
print(a,b,c,d)

1 2 1 2

In [11]:
a=1,2
a

(1, 2)

In [12]:
d1={'a':1,'b':2,'a':1}
d1

{'a': 1, 'b': 2}

In [14]:
d3={'a':1,'b':2,'a':3}
d3

{'a': 3, 'b': 2}

- Dictionary is key value par
- at values position you can take any data type
- at Key position list and dictionary will fail
- duplicates are not allowed
- if you will update a key value, latest value it will take

In [15]:
type(d1)

dict

In [16]:
d1={'Ram':25,'raheem':30,'Robert':35}
max(d1)

# the maximum/minimum we are getting based on the Key

'raheem'

In [17]:
min(d1)

'Ram'

In [18]:
len(d1)

3

In [19]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
d2={1:2,3:4}
sum(d2)

4

- sum only working with Key and must have numeric key

In [27]:
d1={'Ram':25,'raheem':30,'Robert':35}
for i in d1:
    print("The age of {} is {}".format(i,d1[i]))

The age of Ram is 25
The age of raheem is 30
The age of Robert is 35

In [30]:
for i in range(len(d1)):
    print(i)
    print(d1[i])

0

KeyError: 0

**create a empty dictionary and update**

In [31]:
d1={}
d1['fruite']="apple"
d1

{'fruite': 'apple'}

In [33]:
#wap create a empty dictionary and update 
d2={}
d2['name']='suresh'
d2['age']='34'
d2['company']='HCL'
d2

{'name': 'suresh', 'age': '34', 'company': 'HCL'}

In [35]:
#wap create a dictionary based on two lists
#name=['ram','raheem','robert']
#age=[25,30,35]

name=['ram','raheem','robert']
age=[25,30,35]
d1={}
for i,j in zip(name,age):
    #print(i,j)
    d1[i]=j
d1

ram 25
raheem 30
robert 35

{'ram': 25, 'raheem': 30, 'robert': 35}

In [36]:
d1={}
for i in range(len(name)):
    #print(i,j)
    d1[name[i]]=age[i]
d1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [37]:
d1={name[i]:age[i] for i in range(len(name))}
d1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [41]:
d1={name:age for name,age in zip(name,age)}
d1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [49]:
import random
d1={}
even=[]
odd=[]
for i in range(5):
    num=random.randint(1,6)
    if num%2==0:
        even.append(num)
        d1['even']=even
    else:
        odd.append(num)
        d1['odd']=odd
#d1['even']=even
#d1['odd']=odd
d1

2
2

{'even': [2, 2], 'odd': [1, 3, 3]}