In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_name="Visadataset.csv"
visa_df=pd.read_csv(file_name)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [3]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [4]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [6]:
visa_df['prevailing_wage'].values

array([   592.2029,  83425.65  , 122996.86  , ..., 146298.85  ,
        86154.77  ,  70876.91  ])

- Count
- min
- max
- mean
- median

In [7]:
visa_df['prevailing_wage'].count()
visa_df['prevailing_wage'].min()
visa_df['prevailing_wage'].max()
visa_df['prevailing_wage'].mean()
visa_df['prevailing_wage'].median()

70308.20999999999

In [8]:
visa_df['prevailing_wage'].value_counts()

prevailing_wage
82560.2800     2
122.6500       2
60948.1500     2
64357.5800     2
108.1200       2
              ..
25713.9800     1
101656.6400    1
65665.5500     1
50.8813        1
70876.9100     1
Name: count, Length: 25454, dtype: int64

In [21]:
wage_count=round(visa_df['prevailing_wage'].count())
wage_min=round(visa_df['prevailing_wage'].min())
wage_max=round(visa_df['prevailing_wage'].max())
wage_mean=round(visa_df['prevailing_wage'].mean())
wage_median=round(visa_df['prevailing_wage'].median())
wage_std=round(visa_df['prevailing_wage'].std())

In [14]:
print(wage_count,wage_min,wage_max,wage_mean,wage_median)

25480 2 319210 74456 70308

In [22]:
dict1={}
dict1['cout']=wage_count
dict1['min']=wage_min
dict1['max']=wage_max
dict1['mean']=wage_mean
dict1['median']=wage_median
dict1['std']=wage_std
dict1

{'cout': 25480,
 'min': 2,
 'max': 319210,
 'mean': 74456,
 'median': 70308,
 'std': 52816}

In [23]:
prevailing_wage_df=pd.DataFrame(dict1,index=['prevailing_wage'])
prevailing_wage_df

                  cout  min     max   mean  median    std
prevailing_wage  25480    2  319210  74456   70308  52816

In [24]:
list1=[wage_count,wage_min,wage_max,wage_mean,wage_median,wage_std]
list1

[25480, 2, 319210, 74456, 70308, 52816]

In [28]:
prevailing_wage_list_df=pd.DataFrame(list1,
                                     columns=['prevailing_wage'],
                                     index=['count','min','max','mean','median','std'])
prevailing_wage_list_df

        prevailing_wage
count             25480
min                   2
max              319210
mean              74456
median            70308
std               52816

In [46]:
data_type=dict(visa_df.dtypes)

num=[i for i in data_type if data_type[i]!='O']
for numcol in num:
    #print(numcol)
    wage_count=round(visa_df[numcol].count())
    wage_min=round(visa_df[numcol].min())
    wage_max=round(visa_df[numcol].max())
    wage_mean=round(visa_df[numcol].mean())
    wage_median=round(visa_df[numcol].median())
    wage_std=round(visa_df[numcol].std())
    list1=[wage_count,wage_min,wage_max,wage_mean,wage_median,wage_std]
    dict1[numcol]=list1
    df=pd.DataFrame(dict1,
                    index=['count','min','max','mean','median','std'])
    #list_df.to_csv(numcol+'{}.csv'.format(numcol))
    #print(df)
    
df

        prevailing_wage  no_of_employees  yr_of_estab
count             25480            25480        25480
min                   2              -26         1800
max              319210           602069         2016
mean              74456             5667         1979
median            70308             2109         1997
std               52816            22878           42

In [47]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [49]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [50]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

$Percentile - Quantile$

In [59]:
q1=round(np.percentile(visa_df['prevailing_wage'],25),2)
q2=round(np.percentile(visa_df['prevailing_wage'],50),2)
q3=round(np.percentile(visa_df['prevailing_wage'],75),2)
print(q1,q2,q3)

34015.48 70308.21 107735.51

In [60]:
q1=round(np.quantile(visa_df['prevailing_wage'],0.25),2)
q2=round(np.quantile(visa_df['prevailing_wage'],0.50),2)
q3=round(np.quantile(visa_df['prevailing_wage'],0.75),2)
print(q1,q2,q3)

34015.48 70308.21 107735.51

In [71]:
data_type=dict(visa_df.dtypes)

num=[i for i in data_type if data_type[i]!='O']
#print(num)

for numcol in num:
    #print(numcol)
    wage_count=round(visa_df[numcol].count(),2)
    wage_min=round(visa_df[numcol].min(),2)
    wage_max=round(visa_df[numcol].max(),2)
    wage_mean=round(visa_df[numcol].mean(),2)
    wage_median=round(visa_df[numcol].median(),2)
    wage_std=round(visa_df[numcol].std(),2)
    q1=round(np.percentile(visa_df[numcol],25),2)
    q2=round(np.percentile(visa_df[numcol],50),2)
    q3=round(np.percentile(visa_df[numcol],75),2)
    list1=[wage_count,wage_min,wage_max,wage_mean,wage_median,wage_std,q1,q2,q3]
    print(list1)
    dict1[numcol]=list1
    print(dict1)
    df=pd.DataFrame(dict1,index=['count','min','max','mean','median','std','25%','50%','75%'])
    #list_df.to_csv(numcol+'{}.csv'.format(numcol))
print(df)

[25480, -26, 602069, 5667.04, 2109.0, 22877.93, 1022.0, 2109.0, 3504.0]
{'prevailing_wage': [25480, 2.14, 319210.27, 74455.81, 70308.21, 52815.94, 34015.48, 70308.21, 107735.51], 'no_of_employees': [25480, -26, 602069, 5667.04, 2109.0, 22877.93, 1022.0, 2109.0, 3504.0], 'yr_of_estab': [25480, 1800, 2016, 1979.41, 1997.0, 42.37, 1976.0, 1997.0, 2005.0]}
[25480, 1800, 2016, 1979.41, 1997.0, 42.37, 1976.0, 1997.0, 2005.0]
{'prevailing_wage': [25480, 2.14, 319210.27, 74455.81, 70308.21, 52815.94, 34015.48, 70308.21, 107735.51], 'no_of_employees': [25480, -26, 602069, 5667.04, 2109.0, 22877.93, 1022.0, 2109.0, 3504.0], 'yr_of_estab': [25480, 1800, 2016, 1979.41, 1997.0, 42.37, 1976.0, 1997.0, 2005.0]}
[25480, 2.14, 319210.27, 74455.81, 70308.21, 52815.94, 34015.48, 70308.21, 107735.51]
{'prevailing_wage': [25480, 2.14, 319210.27, 74455.81, 70308.21, 52815.94, 34015.48, 70308.21, 107735.51], 'no_of_employees': [25480, -26, 602069, 5667.04, 2109.0, 22877.93, 1022.0, 2109.0, 3504.0], 'yr_of_estab': [25480, 1800, 2016, 1979.41, 1997.0, 42.37, 1976.0, 1997.0, 2005.0]}
        prevailing_wage  no_of_employees  yr_of_estab
count          25480.00         25480.00     25480.00
min                2.14           -26.00      1800.00
max           319210.27        602069.00      2016.00
mean           74455.81          5667.04      1979.41
median         70308.21          2109.00      1997.00
std            52815.94         22877.93        42.37
25%            34015.48          1022.00      1976.00
50%            70308.21          2109.00      1997.00
75%           107735.51          3504.00      2005.00

In [56]:
len(visa_df[visa_df['prevailing_wage']<34015])

6370

<img src="" data-deferred="1" class="rg_i Q4LuWd" jsname="Q4LuWd" width="318" height="159" alt="Empirical Rule (68-95-99.7) Explained | Built In" data-iml="806.9000000953674" data-atf="false">

In [72]:
###################### 68% ####################
val_minus_1=round(wage_mean-1*wage_std,2) 
val_plus_1=round(wage_mean+1*wage_std,2) 

##################### 95%#########################
val_minus_2=round(wage_mean-2*wage_std,2) 
val_plus_2=round(wage_mean+2*wage_std,2) 

##################### 99.7%#########################
val_minus_3=round(wage_mean-3*wage_std,2) 
val_plus_3=round(wage_mean+3*wage_std,2) 

print(val_minus_1,val_plus_1,val_minus_2,val_plus_2,val_minus_3,val_plus_3)

21639.87 127271.75 -31176.07 180087.69 -83992.01 232903.63

In [77]:
con1=visa_df['prevailing_wage']>val_minus_1
con2=visa_df['prevailing_wage']<val_plus_1
len(visa_df[con1&con2])
len(visa_df[con1&con2])/len(visa_df)

0.673901098901099

In [83]:
con1=visa_df['prevailing_wage']>val_minus_2
con2=visa_df['prevailing_wage']<val_plus_2
len(visa_df[con1&con2])
len(visa_df[con1&con2])/len(visa_df)

0.9647566718995291

In [82]:
con1=visa_df['prevailing_wage']>val_minus_3
con2=visa_df['prevailing_wage']<val_plus_3
len(visa_df[con1&con2])
len(visa_df[con1&con2])/len(visa_df)

0.9884615384615385